.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.searchform{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.searchbar{
  width: 50%;
  border: none;
  padding: 10px;
}
.searchbutton{
  background: lightcoral;
  border: none;
  padding:10px 20px;
  color:white;
}
.recepiess{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
